
header {

    .header-top-bar {
        padding: 1% 0;
        background: #e8e8e8;

        ul {
            display: inline-flex;
            float: right;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            li.option {
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: 700;

                a {
                    text-decoration: none;
                    border-right: 1px solid #727271;
                    padding: 0 15px;
                    color: #727271;
                }
            }

            li.icon {
                font-size: 12px;

                a {
                    padding: 0 5px;
                    color: #727271; 
                }
            }
       
        }

    }

    nav {
        width: 100%;
        line-height: 0;
        padding: 1% 0 !important;

        .navbar-brand {

            img {
                width: 100%;
                max-width: 85%;
            }

        }

        div#navbarNav {
            display: block !important;

            ul {
                float: right;
                position: relative;
                top: 23px;

                li {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 0 5px;
                    font-family: 'Open Sans', sans-serif;

                    &:not(:last-child){
                        border-right: 1px solid #1e3661;
                    }

                    a {
                        color: #1e3661;
                    }
                }
            }
        }
    }

}

#cover {
    background: url('../img/home-cover-img.png');
    height: 76vh;
    background-repeat: no-repeat;
    background-size: cover;

    .content-box {
        width: 50%;
        height: 185px;
        color: #ffffff;
        padding: 35px;
        background: rgba(26, 39, 67, 0.65);
        position: relative;
        top: 65%;

        p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 500;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;
            line-height: 26px;
        }

        svg {
            color: #ccb43c !important;
        }
    }
}

#search-reports {
    .search-box-column {
        padding: 0px;
    }
    
    .search-box {
        background: #ccb43c;
        padding: 3% 0;

        .search {
            width: 40%;
            margin: auto;

            input {
                height: 50px;
                border: 2px solid #1e3661;
                border-right: none;
                border-radius: unset;
                padding: 20px;
                margin-right: -1px;

                &::placeholder {
                    text-transform: uppercase;
                    font-family: 'Open Sans', sans-serif;
                    color: #1e3661;
                    font-weight: 600;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            span {
                background: #fff;
                border-radius: unset;
                border: 2px solid #1e3661;
                border-left: none;

                svg {
                    color: #000;
                    font-size: 26px;
                }
            }
        }
    }

    .social-media {
        position: absolute;
        left: 100%;
        top: 0%;

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                padding: 10px;
                width: 40px;

                img {
                    display: block;
                    margin: auto;
                }
            }

            .bg-first {
                background: #1c3460;
            }

            .bg-second {
                background: #495d80;
            }

        }

    }

}

#markets {
    padding: 3% 0;

    .markets-details {

        h1 {
            font-size: 27px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            border-left: 16px solid #1e3661;
            padding-left: 15px;
            color: #1e3661;
        }

        p {
            font-size: 14px;
            color: #1e3661;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            width: 80%;
            padding-left: 33px;
        }

        ul {
            list-style-type: none;
            display: inline-flex;
            flex-wrap: wrap;
            margin-bottom: 35px;

            li {
                width: 33.33%;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #1e3661;
                font-weight: 700;
                line-height: 25px;
            }

            svg {
                width: 10px;
                color: #ccb43c;
                margin-right: 6px;
            }
        }

        a {
            padding: 10px 120px 10px 20px;
            background: #1e3661;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            margin-left: 36px;

            svg {
                position: relative;
                left: 100px;
                font-size: 20px;
                color: #ccb43c;
            }
        }

        hr {
            margin-top: 36px;
            margin-bottom: 36px;
            border-top: 2px solid #8e8e8c;
        }

    }

    .details-components {
        display: flex;
        background: #e8ebef;
        padding: 25px 25px;
        border: 2px solid #abadaf;
        height: 218px;
        width: 96%;

        .icon {
            width: 15%;

            img {
                width: 100%;
                max-width: 70%;
            }
        }

        .content {
            width: 85%;

            h2 {
                font-size: 25px;
                font-weight: 700;
                color: #1e3661;
                font-family: 'Open Sans', sans-serif;
            }

            p {
                padding-left: 0;
                width: 100%;
                margin-bottom: 0;
                color: #1e3661;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 600;
            }

            a.more {
                color: #1e3661;
                background: none;
                font-weight: 700;
                font-size: 12px;
                display: block;
                padding-right: 0;
                text-align: right;
                text-transform: uppercase;
                text-decoration: none;
                margin: 6px 0;
            

                svg {
                    left: 0;
                    font-size: 18px;
                    position: relative;
                    vertical-align: top;
                    color: #ccb43c;
                }
            }

            a.login {
                background: #495c7f;
                padding: 10px 38px 10px 20px;
                font-size: 14px;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;

                svg {
                    position: relative;
                    left: 20px;
                    font-size: 17px;
                    vertical-align: sub;
                    color: #ccb43c;
                }
            }
        }
    }

    .right-component {
        float: right;
    }

    .info-type {
        margin-top: 36px;
        width: 90%;

        h3 {
            font-size: 27px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            border-left: 16px solid #1e3661;
            padding-left: 15px;
            color: #1e3661;
        }

        p {
            font-size: 14px;
            color: #1e3661;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            line-height: 18px;
            padding-left: 33px;
        }

        a {
            color: #1e3661;
            font-weight: 700;
            font-size: 12px;
            display: block;
            padding-right: 0;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;

            svg {
                left: 0;
                font-size: 18px;
                position: relative;
                vertical-align: top;
                color: #ccb43c;
            }
        }

    }

    .action-tabs {
        margin-top: 36px;

        ul {

            li {
                width: 33.33%;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                background: #617290;
                font-family: 'Open Sans', sans-serif;

                a {
                    border-radius: 0;
                    color: #ffffff;
                    padding: 16px 0;
                }

                a.active {
                    background: #344a70;
                }
            }

        }

    }

}

footer {
    padding: 1% 0;
    background: #1e3661;

    .footer-content {
        display: flex;

        .footer-menu {
            width: 60%;

            ul {
                list-style-type: none;
                display: inline-flex;
                padding-left: 0;
                margin-bottom: 0;
    
                li {
                    font-size: 13px;
                    font-family: 'Open Sans', sans-serif;
    
                    &:not(:last-child) {
                        border-right: 1px solid #43506a;
                    }
    
                    a {
                        color: #8b97ad;
                        text-decoration: none;
                        background-color: transparent;
                        padding: 0 10px;
                    }
    
                }
    
            }
    
        }
    
        .copyright {
            width: 40%;

            span {
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;
                color: #8b97ad;
            }
    
        }

    }

}
